<a href="https://colab.research.google.com/github/suriya3153/Count_the_number_of_broken_and_full_rice_grains/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install tqdm

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (4.64.1)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import zipfile

zip_ref = zipfile.ZipFile("/content/drive/MyDrive/Structured_Data_Assignment .zip", 'r')
zip_ref.extractall("/tmp")
zip_ref.close()

In [ ]:
df=pd.read_parquet("/tmp/Structured_Data_Assignment /test.parquet")

In [ ]:
from tqdm.notebook import tqdm,trange

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
df=pd.read_parquet("train.parquet")

In [ ]:
df.to_csv("data.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3220868 entries, 0 to 29080911
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   Patient-Uid  object
 1   Date         datetime64[ns]
 2   Incident     object
dtypes: datetime64[ns](1), object(2)
memory usage: 98.3+ MB

In [ ]:
df.shape

(3220868, 3)

In [ ]:
df.describe()

C:\Users\suriya\AppData\Local\Temp\ipykernel_4452\3627053830.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe()

                                 Patient-Uid                 Date     Incident
count                                3220868              3220868      3220868
unique                                 27033                 1977           57
top     a0ddfd2c-1c7c-11ec-876d-16262ee38c7f  2019-05-21 00:00:00  DRUG_TYPE_6
freq                                    1645                 3678       561934
first                                    NaN  2015-04-07 00:00:00          NaN
last                                     NaN  2020-09-03 00:00:00          NaN

In [ ]:
df.Incident.unique()

array(['PRIMARY_DIAGNOSIS', 'SYMPTOM_TYPE_0', 'DRUG_TYPE_0',
       'DRUG_TYPE_1', 'DRUG_TYPE_2', 'TEST_TYPE_0', 'DRUG_TYPE_3',
       'DRUG_TYPE_4', 'DRUG_TYPE_5', 'DRUG_TYPE_6', 'DRUG_TYPE_8',
       'DRUG_TYPE_7', 'SYMPTOM_TYPE_1', 'DRUG_TYPE_10', 'SYMPTOM_TYPE_29',
       'SYMPTOM_TYPE_2', 'DRUG_TYPE_11', 'DRUG_TYPE_9', 'DRUG_TYPE_13',
       'SYMPTOM_TYPE_5', 'TEST_TYPE_1', 'SYMPTOM_TYPE_6', 'TEST_TYPE_2',
       'SYMPTOM_TYPE_3', 'SYMPTOM_TYPE_8', 'DRUG_TYPE_14', 'DRUG_TYPE_12',
       'SYMPTOM_TYPE_9', 'SYMPTOM_TYPE_10', 'SYMPTOM_TYPE_7',
       'SYMPTOM_TYPE_11', 'TEST_TYPE_3', 'DRUG_TYPE_15', 'SYMPTOM_TYPE_4',
       'SYMPTOM_TYPE_14', 'SYMPTOM_TYPE_13', 'SYMPTOM_TYPE_16',
       'SYMPTOM_TYPE_17', 'SYMPTOM_TYPE_15', 'SYMPTOM_TYPE_18',
       'SYMPTOM_TYPE_12', 'SYMPTOM_TYPE_20', 'SYMPTOM_TYPE_21',
       'DRUG_TYPE_17', 'SYMPTOM_TYPE_22', 'TEST_TYPE_4',
       'SYMPTOM_TYPE_23', 'DRUG_TYPE_16', 'TEST_TYPE_5',
       'SYMPTOM_TYPE_19', 'SYMPTOM_TYPE_24', 'SYMPTOM_TYPE_25',
       'SYMPTOM_TYPE_26', 'SYMPTOM_TYPE_27', 'DRUG_TYPE_18',
       'SYMPTOM_TYPE_28', 'TARGET DRUG'], dtype=object)

In [ ]:
df.Incident.value_counts()

DRUG_TYPE_6          561934
DRUG_TYPE_1          484666
PRIMARY_DIAGNOSIS    431902
DRUG_TYPE_0          300005
DRUG_TYPE_7          258782
DRUG_TYPE_2          256841
DRUG_TYPE_8          160066
DRUG_TYPE_3          127676
TEST_TYPE_1           96810
TARGET DRUG           67218
DRUG_TYPE_9           66894
DRUG_TYPE_5           57510
DRUG_TYPE_11          48118
SYMPTOM_TYPE_0        46078
SYMPTOM_TYPE_6        32066
TEST_TYPE_0           27570
SYMPTOM_TYPE_7        22019
DRUG_TYPE_10          20925
DRUG_TYPE_14          17306
DRUG_TYPE_13          12372
DRUG_TYPE_12           9551
SYMPTOM_TYPE_14        8927
SYMPTOM_TYPE_1         8608
SYMPTOM_TYPE_2         8168
TEST_TYPE_3            8115
SYMPTOM_TYPE_5         7583
SYMPTOM_TYPE_8         7430
TEST_TYPE_2            7021
SYMPTOM_TYPE_15        6295
SYMPTOM_TYPE_10        6005
SYMPTOM_TYPE_29        5950
SYMPTOM_TYPE_16        4940
DRUG_TYPE_15           4906
SYMPTOM_TYPE_9         4885
DRUG_TYPE_4            4566
SYMPTOM_TYPE_4         4115
SYMPTOM_TYPE_3         3931
SYMPTOM_TYPE_12        2685
SYMPTOM_TYPE_11        2483
SYMPTOM_TYPE_17        2090
SYMPTOM_TYPE_13        1541
DRUG_TYPE_16           1145
TEST_TYPE_4            1108
SYMPTOM_TYPE_18         530
SYMPTOM_TYPE_21         363
SYMPTOM_TYPE_22         285
SYMPTOM_TYPE_19         219
DRUG_TYPE_17            214
TEST_TYPE_5             137
SYMPTOM_TYPE_24          97
SYMPTOM_TYPE_26          63
SYMPTOM_TYPE_23          54
SYMPTOM_TYPE_20          53
SYMPTOM_TYPE_27          21
SYMPTOM_TYPE_25          18
SYMPTOM_TYPE_28           7
DRUG_TYPE_18              1
Name: Incident, dtype: int64

In [ ]:
df["Patient-Uid"].value_counts()

a0ddfd2c-1c7c-11ec-876d-16262ee38c7f    1645
a0ea618f-1c7c-11ec-93fb-16262ee38c7f    1320
a0e553c4-1c7c-11ec-83f1-16262ee38c7f    1163
a0df4809-1c7c-11ec-be0b-16262ee38c7f    1099
a0ec2afe-1c7c-11ec-befd-16262ee38c7f    1075
                                        ...
a0ecc127-1c7c-11ec-92b5-16262ee38c7f      31
a0eb794b-1c7c-11ec-92d7-16262ee38c7f      30
a0f02cd8-1c7c-11ec-96a0-16262ee38c7f      28
a0efac48-1c7c-11ec-9daa-16262ee38c7f      25
a0f0d0b5-1c7c-11ec-9901-16262ee38c7f      24
Name: Patient-Uid, Length: 27033, dtype: int64

In [ ]:
df

                                   Patient-Uid       Date           Incident
0         a0db1e73-1c7c-11ec-ae39-16262ee38c7f 2019-03-09  PRIMARY_DIAGNOSIS
1         a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f 2015-05-16  PRIMARY_DIAGNOSIS
3         a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f 2018-01-30     SYMPTOM_TYPE_0
4         a0dc950b-1c7c-11ec-b6ec-16262ee38c7f 2015-04-22        DRUG_TYPE_0
8         a0dc9543-1c7c-11ec-bb63-16262ee38c7f 2016-06-18        DRUG_TYPE_1
...                                        ...        ...                ...
29080886  a0ee9f75-1c7c-11ec-94c7-16262ee38c7f 2018-07-06        DRUG_TYPE_6
29080897  a0ee1284-1c7c-11ec-a3d5-16262ee38c7f 2017-12-29        DRUG_TYPE_6
29080900  a0ee9b26-1c7c-11ec-8a40-16262ee38c7f 2018-10-18       DRUG_TYPE_10
29080903  a0ee1a92-1c7c-11ec-8341-16262ee38c7f 2015-09-18        DRUG_TYPE_6
29080911  a0ee146e-1c7c-11ec-baee-16262ee38c7f 2018-10-05        DRUG_TYPE_1

[3220868 rows x 3 columns]

In [ ]:
df1=df.drop(["Date"],axis=1)

In [ ]:
df1.drop_duplicates(inplace=True)

In [ ]:
df1.Incident.value_counts()

PRIMARY_DIAGNOSIS    27033
DRUG_TYPE_7          25492
DRUG_TYPE_0          24627
DRUG_TYPE_2          23967
DRUG_TYPE_6          23115
DRUG_TYPE_1          21716
TEST_TYPE_1          15883
DRUG_TYPE_8          13672
SYMPTOM_TYPE_0       12612
DRUG_TYPE_5          12139
DRUG_TYPE_11         11917
SYMPTOM_TYPE_6       11473
DRUG_TYPE_3          11261
TEST_TYPE_0           9726
TARGET DRUG           9374
DRUG_TYPE_9           8612
SYMPTOM_TYPE_7        7712
TEST_TYPE_2           4736
SYMPTOM_TYPE_1        3980
SYMPTOM_TYPE_8        3574
SYMPTOM_TYPE_2        3500
SYMPTOM_TYPE_5        3238
SYMPTOM_TYPE_9        2753
DRUG_TYPE_10          2647
SYMPTOM_TYPE_10       2625
TEST_TYPE_3           2581
DRUG_TYPE_4           2162
SYMPTOM_TYPE_29       1736
SYMPTOM_TYPE_16       1663
SYMPTOM_TYPE_4        1630
SYMPTOM_TYPE_11       1426
DRUG_TYPE_13          1336
SYMPTOM_TYPE_12       1302
SYMPTOM_TYPE_15       1240
SYMPTOM_TYPE_17       1219
SYMPTOM_TYPE_3        1077
DRUG_TYPE_15          1015
SYMPTOM_TYPE_14        924
DRUG_TYPE_12           875
SYMPTOM_TYPE_13        702
DRUG_TYPE_14           601
SYMPTOM_TYPE_18        359
DRUG_TYPE_16           347
TEST_TYPE_4            328
SYMPTOM_TYPE_21        196
SYMPTOM_TYPE_22        173
SYMPTOM_TYPE_19        171
DRUG_TYPE_17           143
TEST_TYPE_5            128
SYMPTOM_TYPE_23         51
SYMPTOM_TYPE_26         50
SYMPTOM_TYPE_20         41
SYMPTOM_TYPE_24         38
SYMPTOM_TYPE_27         19
SYMPTOM_TYPE_25         10
SYMPTOM_TYPE_28          6
DRUG_TYPE_18             1
Name: Incident, dtype: int64

In [ ]:
df1[df1.Incident=="TARGET DRUG"]

                                   Patient-Uid     Incident
3294791   a0eb742b-1c7c-11ec-8f61-16262ee38c7f  TARGET DRUG
3296990   a0edaf09-1c7c-11ec-a360-16262ee38c7f  TARGET DRUG
3305387   a0e9fa0e-1c7c-11ec-8dc7-16262ee38c7f  TARGET DRUG
3309423   a0ecc615-1c7c-11ec-aa31-16262ee38c7f  TARGET DRUG
3309494   a0ea612f-1c7c-11ec-8cf0-16262ee38c7f  TARGET DRUG
...                                        ...          ...
28215416  a0ecbf7b-1c7c-11ec-9986-16262ee38c7f  TARGET DRUG
28277272  a0ecab93-1c7c-11ec-8340-16262ee38c7f  TARGET DRUG
28282438  a0ef1c8c-1c7c-11ec-b007-16262ee38c7f  TARGET DRUG
28362752  a0f08a4d-1c7c-11ec-bb15-16262ee38c7f  TARGET DRUG
29067062  a0efc1fa-1c7c-11ec-9e1c-16262ee38c7f  TARGET DRUG

[9374 rows x 2 columns]

In [ ]:
Patientdf=df1[df1.Incident=="TARGET DRUG"]["Patient-Uid"]

In [ ]:
Patientdf1=Patientdf.reset_index()

In [ ]:
vallist=Patientdf1["Patient-Uid"].to_list()

In [ ]:
class0=[]
for i in df["Patient-Uid"].unique():
    if i in vallist:
        pass
    else:
        class0.append(i)

In [ ]:
len(class0)+9374

27033

In [ ]:
df["Patient-Uid"].nunique()

27033

In [ ]:
df["Date"]=pd.to_datetime(df.Date)

In [ ]:
df["Date"].max()

Timestamp('2020-09-03 00:00:00')

In [ ]:
df[df["Date"]=="2020-09-03"]

                                   Patient-Uid       Date     Incident
11701     a0debb1e-1c7c-11ec-903c-16262ee38c7f 2020-09-03  DRUG_TYPE_7
16523     a0dfd9ea-1c7c-11ec-9106-16262ee38c7f 2020-09-03  DRUG_TYPE_6
23436     a0e10dfd-1c7c-11ec-8047-16262ee38c7f 2020-09-03  DRUG_TYPE_8
25667     a0dd5c4e-1c7c-11ec-83ac-16262ee38c7f 2020-09-03  DRUG_TYPE_8
31578     a0e2b0a4-1c7c-11ec-a7ad-16262ee38c7f 2020-09-03  DRUG_TYPE_3
...                                        ...        ...          ...
28228235  a0ea5398-1c7c-11ec-a71b-16262ee38c7f 2020-09-03  DRUG_TYPE_7
28234855  a0ebfe58-1c7c-11ec-9431-16262ee38c7f 2020-09-03  DRUG_TYPE_0
28439056  a0ecff0d-1c7c-11ec-a86f-16262ee38c7f 2020-09-03  DRUG_TYPE_7
28854080  a0ed5244-1c7c-11ec-8400-16262ee38c7f 2020-09-03  DRUG_TYPE_2
28996470  a0ed826d-1c7c-11ec-936d-16262ee38c7f 2020-09-03  DRUG_TYPE_1

[1919 rows x 3 columns]

### 2020-08-04 this is last date so this is current date

In [ ]:
from datetime import datetime

date = datetime.now()
d1 = datetime.strptime("2020-08-03", "%Y-%m-%d")
d2 = datetime.strptime("2020-08-04", "%Y-%m-%d")
(d2 - d1).days

1

In [ ]:
def timeforx(x):
    date = datetime.now()
    d1 = x
    d2 = datetime.strptime("2020-09-03", "%Y-%m-%d")
    return abs((d2 - d1).days)

In [ ]:
df["lastdrug"]=df.Date.apply(timeforx)

In [ ]:
df

,Patient-Uid,Date,Incident,lastdrug
0,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2019-03-09,PRIMARY_DIAGNOSIS,544
1,a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f,2015-05-16,PRIMARY_DIAGNOSIS,1937
3,a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f,2018-01-30,SYMPTOM_TYPE_0,947
4,a0dc950b-1c7c-11ec-b6ec-16262ee38c7f,2015-04-22,DRUG_TYPE_0,1961
8,a0dc9543-1c7c-11ec-bb63-16262ee38c7f,2016-06-18,DRUG_TYPE_1,1538
...,...,...,...,...
29080886,a0ee9f75-1c7c-11ec-94c7-16262ee38c7f,2018-07-06,DRUG_TYPE_6,790
29080897,a0ee1284-1c7c-11ec-a3d5-16262ee38c7f,2017-12-29,DRUG_TYPE_6,979
29080900,a0ee9b26-1c7c-11ec-8a40-16262ee38c7f,2018-10-18,DRUG_TYPE_10,686
29080903,a0ee1a92-1c7c-11ec-8341-16262ee38c7f,2015-09-18,DRUG_TYPE_6,1812
29080911,a0ee146e-1c7c-11ec-baee-16262ee38c7f,2018-10-05,DRUG_TYPE_1,699

In [ ]:
df_last=pd.DataFrame()

In [ ]:
import timeit

In [ ]:
import timeit
start = timeit.default_timer()
i=1
for idname in Patientdf1["Patient-Uid"]:
    new=df[df["Patient-Uid"]==idname].sort_values("lastdrug",ascending=False).reset_index()
    indexs=new[new["Incident"]=="TARGET DRUG"].index[0]
    newdf=new.head(indexs+1)
    df_last = pd.concat([df_last, newdf], ignore_index=True)
    end = timeit.default_timer()

print('Execution Time: ', end - start)

Execution Time:  1789.8316567000002

In [ ]:
df.index=df["Date"]

In [ ]:
df=df.drop(["Date"],axis=1)

In [ ]:
import timeit
start = timeit.default_timer()
i=1
df_lastclass0=pd.DataFrame()
for idname in tqdm(class0):
    new=df[df["Patient-Uid"]==idname].sort_values("lastdrug")
    now=new[:1:].index[0]
    back=new[:1:].index[0]- timedelta(days=30)
    new=new.loc[now:back]
    df_lastclass0 = pd.concat([df_lastclass0, new])

end = timeit.default_timer()

print('Execution Time: ', end - start)

  0%|          | 0/17659 [00:00<?, ?it/s]

Execution Time:  3107.1974236000096

In [ ]:
df_lastclass0

                                     Patient-Uid     Incident  lastdrug
Date
2020-08-09  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  DRUG_TYPE_2        25
2020-08-07  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  DRUG_TYPE_2        27
2020-08-05  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  DRUG_TYPE_2        29
2020-08-05  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  DRUG_TYPE_7        29
2020-08-04  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  DRUG_TYPE_2        30
...                                          ...          ...       ...
2020-09-01  a0dc99e2-1c7c-11ec-a822-16262ee38c7f  DRUG_TYPE_0         2
2020-09-01  a0dc99e2-1c7c-11ec-a822-16262ee38c7f  DRUG_TYPE_8         2
2020-09-01  a0dc9a12-1c7c-11ec-a92d-16262ee38c7f  DRUG_TYPE_2         2
2020-09-01  a0dc9a12-1c7c-11ec-a92d-16262ee38c7f  DRUG_TYPE_0         2
2020-09-01  a0dc9a12-1c7c-11ec-a92d-16262ee38c7f  DRUG_TYPE_7         2

[99 rows x 3 columns]

In [ ]:
now

Timestamp('2020-08-09 00:00:00')

In [ ]:
back

Timestamp('2020-07-10 00:00:00')

In [ ]:
new

                                     Patient-Uid           Incident  lastdrug
Date
2020-08-09  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        25
2020-08-07  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        27
2020-08-05  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        29
2020-08-05  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_7        29
2020-08-04  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        30
2020-08-04  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  PRIMARY_DIAGNOSIS        30
2020-08-04  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_7        30
2020-08-04  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        TEST_TYPE_1        30
2020-08-03  a0db1e73-1c7c-11ec-ae39-16262ee38c7f     SYMPTOM_TYPE_0        31
2020-08-03  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  PRIMARY_DIAGNOSIS        31
2020-08-03  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  PRIMARY_DIAGNOSIS        31
2020-08-03  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        TEST_TYPE_0        31
2020-08-02  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_0        32
2020-07-21  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_0        44
2020-07-20  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        TEST_TYPE_0        45
2020-07-20  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_0        45
2020-07-20  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  PRIMARY_DIAGNOSIS        45
2020-07-20  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_6        45

In [ ]:
df_lastclass0

                              Patient-Uid           Incident  lastdrug
0    a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        25
1    a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        27
2    a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        29
3    a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_7        29
4    a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        30
..                                    ...                ...       ...
157  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_0        44
158  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        TEST_TYPE_0        45
159  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_0        45
160  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  PRIMARY_DIAGNOSIS        45
161  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_6        45

[162 rows x 3 columns]

In [ ]:
now=new[:1:].index[0]
back=new[:1:].index[0]- timedelta(days=30)

In [ ]:
new=df[df["Patient-Uid"]==class0[0]].sort_values("lastdrug")

In [ ]:
new[:1:].index[0]

Timestamp('2020-08-09 00:00:00')

In [ ]:
new=new.loc[now:back]

In [ ]:
now

Timestamp('2020-08-09 00:00:00')

In [ ]:
back

Timestamp('2020-07-10 00:00:00')

In [ ]:
new

                                     Patient-Uid           Incident  lastdrug
Date
2020-08-09  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        25
2020-08-07  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        27
2020-08-05  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        29
2020-08-05  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_7        29
2020-08-04  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        30
2020-08-04  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  PRIMARY_DIAGNOSIS        30
2020-08-04  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_7        30
2020-08-04  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        TEST_TYPE_1        30
2020-08-03  a0db1e73-1c7c-11ec-ae39-16262ee38c7f     SYMPTOM_TYPE_0        31
2020-08-03  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  PRIMARY_DIAGNOSIS        31
2020-08-03  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  PRIMARY_DIAGNOSIS        31
2020-08-03  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        TEST_TYPE_0        31
2020-08-02  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_0        32
2020-07-21  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_0        44
2020-07-20  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        TEST_TYPE_0        45
2020-07-20  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_0        45
2020-07-20  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  PRIMARY_DIAGNOSIS        45
2020-07-20  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_6        45

In [ ]:
new

                                     Patient-Uid        Incident  lastdrug
Date
2020-08-09  a0db1e73-1c7c-11ec-ae39-16262ee38c7f     DRUG_TYPE_2        25
2020-08-07  a0db1e73-1c7c-11ec-ae39-16262ee38c7f     DRUG_TYPE_2        27
2020-08-05  a0db1e73-1c7c-11ec-ae39-16262ee38c7f     DRUG_TYPE_2        29
2020-08-05  a0db1e73-1c7c-11ec-ae39-16262ee38c7f     DRUG_TYPE_7        29
2020-08-04  a0db1e73-1c7c-11ec-ae39-16262ee38c7f     DRUG_TYPE_2        30
...                                          ...             ...       ...
2018-11-23  a0db1e73-1c7c-11ec-ae39-16262ee38c7f     TEST_TYPE_0       650
2018-11-23  a0db1e73-1c7c-11ec-ae39-16262ee38c7f     DRUG_TYPE_0       650
2018-05-02  a0db1e73-1c7c-11ec-ae39-16262ee38c7f     DRUG_TYPE_7       855
2018-04-13  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  SYMPTOM_TYPE_2       874
2015-09-22  a0db1e73-1c7c-11ec-ae39-16262ee38c7f     DRUG_TYPE_7      1808

[96 rows x 3 columns]

In [ ]:
prev_days = new[:1:].index[0]- timedelta(days=30)

In [ ]:
new[:1:].index[0]

Timestamp('2020-08-09 00:00:00')

In [ ]:
prev_days

Timestamp('2020-07-10 00:00:00')

In [ ]:
df_lastclass0

,Date,Patient-Uid,Incident,lastdrug
0,2020-08-09,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,DRUG_TYPE_2,25
1,2020-08-07,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,DRUG_TYPE_2,27
2,2020-08-05,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,DRUG_TYPE_2,29
3,2020-08-05,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,DRUG_TYPE_7,29
4,2020-08-04,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,DRUG_TYPE_2,30
...,...,...,...,...
256,2020-04-16,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,DRUG_TYPE_6,140
257,2020-04-16,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,DRUG_TYPE_0,140
258,2020-03-19,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,DRUG_TYPE_0,168
259,2020-03-09,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,PRIMARY_DIAGNOSIS,178
260,2020-03-09,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,DRUG_TYPE_2,178

In [ ]:
df[df["Patient-Uid"]==class0[0]].sort_values("lastdrug",ascending=False).reset_index()

,index,Patient-Uid,Date,Incident,lastdrug
0,1750087,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2015-09-22,DRUG_TYPE_7,1808
1,1473893,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2018-04-13,SYMPTOM_TYPE_2,874
2,1387922,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2018-05-02,DRUG_TYPE_7,855
3,748933,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2018-11-23,DRUG_TYPE_0,650
4,1284014,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2018-11-23,DRUG_TYPE_11,650
...,...,...,...,...,...
91,26810,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-04,DRUG_TYPE_2,30
92,948750,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-05,DRUG_TYPE_7,29
93,2712526,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-05,DRUG_TYPE_2,29
94,1917285,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-07,DRUG_TYPE_2,27
95,3202906,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-09,DRUG_TYPE_2,25

In [ ]:
df[df["Patient-Uid"]==class0[0]].sort_values("lastdrug",ascending=False).reset_index()[:-30:-1]

,index,Patient-Uid,Date,Incident,lastdrug
95,3202906,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-09,DRUG_TYPE_2,25
94,1917285,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-07,DRUG_TYPE_2,27
93,2712526,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-05,DRUG_TYPE_2,29
92,948750,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-05,DRUG_TYPE_7,29
91,26810,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-04,DRUG_TYPE_2,30
90,653465,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-04,PRIMARY_DIAGNOSIS,30
89,595085,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-04,DRUG_TYPE_7,30
88,646431,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-04,TEST_TYPE_1,30
87,1915940,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-03,TEST_TYPE_0,31
86,3100536,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-03,SYMPTOM_TYPE_0,31
85,2362143,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-03,PRIMARY_DIAGNOSIS,31
84,1497523,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-03,PRIMARY_DIAGNOSIS,31
83,2136166,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-02,DRUG_TYPE_0,32
82,2963856,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-07-21,DRUG_TYPE_0,44
81,2520609,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-07-20,DRUG_TYPE_6,45
80,2910105,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-07-20,PRIMARY_DIAGNOSIS,45
79,2595933,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-07-20,DRUG_TYPE_0,45
78,2136201,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-07-20,TEST_TYPE_0,45
77,2545969,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-07-03,DRUG_TYPE_0,62
76,2861402,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-07-03,DRUG_TYPE_6,62
75,2055053,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-06-01,TEST_TYPE_0,94
74,2932545,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-06-01,PRIMARY_DIAGNOSIS,94
73,1644259,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-04-17,DRUG_TYPE_6,139
72,3010446,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-04-17,DRUG_TYPE_0,139
71,69930,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-04-16,DRUG_TYPE_6,140
70,2657324,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-04-16,DRUG_TYPE_0,140
69,2429867,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-03-19,DRUG_TYPE_0,168
68,2790427,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-03-09,PRIMARY_DIAGNOSIS,178
67,1607359,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-03-09,DRUG_TYPE_2,178

In [ ]:
df_last=pd.read_csv("data_lastsx.csv")

In [ ]:
df_last.head(82)

,Unnamed: 0,Date,Patient-Uid,Incident,lastdrug
0,0,2019-04-16,a0efc1fa-1c7c-11ec-9e1c-16262ee38c7f,TARGET DRUG,506
1,1,2019-04-11,a0efc1fa-1c7c-11ec-9e1c-16262ee38c7f,DRUG_TYPE_14,511
2,2,2019-04-11,a0efc1fa-1c7c-11ec-9e1c-16262ee38c7f,PRIMARY_DIAGNOSIS,511
3,3,2019-03-23,a0efc1fa-1c7c-11ec-9e1c-16262ee38c7f,DRUG_TYPE_7,530
4,4,2019-03-16,a0efc1fa-1c7c-11ec-9e1c-16262ee38c7f,SYMPTOM_TYPE_0,537
...,...,...,...,...,...
77,77,2018-06-22,a0efc1fa-1c7c-11ec-9e1c-16262ee38c7f,DRUG_TYPE_2,804
78,78,2018-06-21,a0efc1fa-1c7c-11ec-9e1c-16262ee38c7f,DRUG_TYPE_6,805
79,79,2018-05-30,a0efc1fa-1c7c-11ec-9e1c-16262ee38c7f,PRIMARY_DIAGNOSIS,827
80,80,2018-05-05,a0efc1fa-1c7c-11ec-9e1c-16262ee38c7f,DRUG_TYPE_1,852
81,81,2018-05-02,a0efc1fa-1c7c-11ec-9e1c-16262ee38c7f,PRIMARY_DIAGNOSIS,855

In [ ]:
df_last=df_last.drop(["Unnamed: 0"],axis=1)

In [ ]:
df_last.index=pd.to_datetime(df_last["Date"])

In [ ]:
df_last=df_last.drop(["Date"],axis=1)

In [ ]:
df_last

                                     Patient-Uid           Incident  lastdrug
Date
2019-04-16  a0efc1fa-1c7c-11ec-9e1c-16262ee38c7f        TARGET DRUG       506
2019-04-11  a0efc1fa-1c7c-11ec-9e1c-16262ee38c7f       DRUG_TYPE_14       511
2019-04-11  a0efc1fa-1c7c-11ec-9e1c-16262ee38c7f  PRIMARY_DIAGNOSIS       511
2019-03-23  a0efc1fa-1c7c-11ec-9e1c-16262ee38c7f        DRUG_TYPE_7       530
2019-03-16  a0efc1fa-1c7c-11ec-9e1c-16262ee38c7f     SYMPTOM_TYPE_0       537
...                                          ...                ...       ...
2015-08-01  a0eb742b-1c7c-11ec-8f61-16262ee38c7f        DRUG_TYPE_1      1860
2015-06-22  a0eb742b-1c7c-11ec-8f61-16262ee38c7f        DRUG_TYPE_1      1900
2015-06-06  a0eb742b-1c7c-11ec-8f61-16262ee38c7f        DRUG_TYPE_1      1916
2015-05-14  a0eb742b-1c7c-11ec-8f61-16262ee38c7f        DRUG_TYPE_1      1939
2015-04-18  a0eb742b-1c7c-11ec-8f61-16262ee38c7f        DRUG_TYPE_1      1965

[970887 rows x 3 columns]

In [ ]:
jk=df_last[df_last["Patient-Uid"]=="a0ecc615-1c7c-11ec-aa31-16262ee38c7f"]

In [ ]:
jk

                                     Patient-Uid           Incident  lastdrug
Date
2018-04-25  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        TARGET DRUG       862
2018-04-25  a0ecc615-1c7c-11ec-aa31-16262ee38c7f  PRIMARY_DIAGNOSIS       862
2018-04-13  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_7       874
2018-03-17  a0ecc615-1c7c-11ec-aa31-16262ee38c7f  PRIMARY_DIAGNOSIS       901
2018-02-08  a0ecc615-1c7c-11ec-aa31-16262ee38c7f  PRIMARY_DIAGNOSIS       938
2018-01-20  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_7       957
2017-12-15  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_6       993
2017-12-14  a0ecc615-1c7c-11ec-aa31-16262ee38c7f  PRIMARY_DIAGNOSIS       994
2017-10-14  a0ecc615-1c7c-11ec-aa31-16262ee38c7f  PRIMARY_DIAGNOSIS      1055
2017-10-11  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_7      1058
2017-09-16  a0ecc615-1c7c-11ec-aa31-16262ee38c7f       DRUG_TYPE_11      1083
2017-09-16  a0ecc615-1c7c-11ec-aa31-16262ee38c7f  PRIMARY_DIAGNOSIS      1083
2017-08-17  a0ecc615-1c7c-11ec-aa31-16262ee38c7f  PRIMARY_DIAGNOSIS      1113
2017-07-15  a0ecc615-1c7c-11ec-aa31-16262ee38c7f  PRIMARY_DIAGNOSIS      1146
2017-06-17  a0ecc615-1c7c-11ec-aa31-16262ee38c7f  PRIMARY_DIAGNOSIS      1174
2017-06-08  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_2      1183
2017-05-05  a0ecc615-1c7c-11ec-aa31-16262ee38c7f  PRIMARY_DIAGNOSIS      1217
2017-05-05  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_2      1217
2017-03-06  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_2      1277
2017-01-10  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_1      1332
2017-01-09  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_7      1333
2017-01-09  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_2      1333
2017-01-06  a0ecc615-1c7c-11ec-aa31-16262ee38c7f     SYMPTOM_TYPE_7      1336
2017-01-03  a0ecc615-1c7c-11ec-aa31-16262ee38c7f  PRIMARY_DIAGNOSIS      1339
2016-12-16  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_7      1357
2016-12-10  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_6      1363
2016-12-05  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_1      1368
2016-11-13  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_7      1390
2016-11-05  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_1      1398
2016-10-13  a0ecc615-1c7c-11ec-aa31-16262ee38c7f     SYMPTOM_TYPE_0      1421
2016-10-05  a0ecc615-1c7c-11ec-aa31-16262ee38c7f     SYMPTOM_TYPE_0      1429
2016-10-04  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_3      1430
2016-09-17  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_2      1447
2016-09-01  a0ecc615-1c7c-11ec-aa31-16262ee38c7f  PRIMARY_DIAGNOSIS      1463
2016-09-01  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_6      1463
2016-05-26  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_6      1561
2016-04-24  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        TEST_TYPE_0      1593
2016-04-24  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_2      1593
2016-04-24  a0ecc615-1c7c-11ec-aa31-16262ee38c7f  PRIMARY_DIAGNOSIS      1593
2016-04-23  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_2      1594
2016-04-14  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_3      1603
2016-03-30  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_2      1618
2016-02-26  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_2      1651
2016-02-26  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_7      1651
2016-01-26  a0ecc615-1c7c-11ec-aa31-16262ee38c7f       DRUG_TYPE_11      1682
2016-01-16  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_7      1692
2016-01-09  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_3      1699
2016-01-07  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_7      1701
2015-11-24  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_7      1745
2015-11-03  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_7      1766
2015-10-26  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_7      1774
2015-10-26  a0ecc615-1c7c-11ec-aa31-16262ee38c7f  PRIMARY_DIAGNOSIS      1774
2015-08-27  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_7      1834
2015-08-21  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_3      1840
2015-06-26  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_7      1896
2015-05-21  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_7      1932
2015-05-02  a0ecc615-1c7c-11ec-aa31-16262ee38c7f        DRUG_TYPE_6      1951

In [ ]:
jk[-1::].index[0]

Timestamp('2015-05-02 00:00:00')

In [ ]:
from datetime import date, timedelta

In [ ]:
prev_day = jk.index[0] - timedelta(days=1)
prev_days = jk.index[0] - timedelta(days=30)
s=jk.loc[prev_day:prev_days]["Incident"].value_counts()
jk=jk.loc[prev_day:prev_days]

In [ ]:
prev_day

Timestamp('2018-04-24 00:00:00')

In [ ]:
prev_days

Timestamp('2018-03-26 00:00:00')

In [ ]:
jk

                                     Patient-Uid     Incident  lastdrug
Date
2018-04-13  a0ecc615-1c7c-11ec-aa31-16262ee38c7f  DRUG_TYPE_7       874

In [ ]:
jk.index=jk.Date

In [ ]:
jk=jk.drop("Date",axis=1)

In [ ]:
df_news=pd.DataFrame()
start = timeit.default_timer()

for nameofid in tqdm(Patientdf1["Patient-Uid"]):
    try:
        jk=df_last[df_last["Patient-Uid"]==nameofid]
        prev_day = jk.index[0] - timedelta(days=1)
        prev_days = jk.index[0] - timedelta(days=30)
        s=jk.loc[prev_day:prev_days]["Incident"].value_counts()
        jk=jk.loc[prev_day:prev_days]
        l=pd.DataFrame(s).T.reset_index()

        valofdrug1=jk[:1:]["lastdrug"][0]
        val=jk[~jk["Incident"].duplicated()]

        for i in l.columns[1:]:
            l["{}_time_last".format(i)]=[((val[val["Incident"]==i]["lastdrug"])-valofdrug1)[0]]

        l["classx"]=1
        l["id"]=nameofid
        df_news= pd.concat([df_news, l], ignore_index=True)
    except:
        l=pd.DataFrame({"id":[nameofid]})
        l["id"]=nameofid
        df_news = pd.concat([df_news, l], ignore_index=True)



end = timeit.default_timer()
print('Execution Time: ', end - start)

  0%|          | 0/9374 [00:00<?, ?it/s]

Execution Time:  568.3520055999979

In [ ]:
df[df["Patient-Uid"]==class0[0]]

,Patient-Uid,Date,Incident,lastdrug
0,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2019-03-09,PRIMARY_DIAGNOSIS,544
26810,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-04,DRUG_TYPE_2,30
54034,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2019-03-05,SYMPTOM_TYPE_0,548
69930,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-04-16,DRUG_TYPE_6,140
145155,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2019-12-27,DRUG_TYPE_0,251
...,...,...,...,...
3100536,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-03,SYMPTOM_TYPE_0,31
3119371,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-03-08,PRIMARY_DIAGNOSIS,179
3138153,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-01-09,TEST_TYPE_0,238
3178420,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-03-09,TEST_TYPE_0,178
3202906,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,2020-08-09,DRUG_TYPE_2,25

In [ ]:
df_lastclass0.to_csv("df_lastclass0.csv")

In [ ]:
df_lastclass0[df_lastclass0["Patient-Uid"]=="a0db1e73-1c7c-11ec-ae39-16262ee38c7f"]

                                     Patient-Uid           Incident  lastdrug
Date
2020-08-09  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        25
2020-08-07  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        27
2020-08-05  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        29
2020-08-05  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_7        29
2020-08-04  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        30
2020-08-04  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  PRIMARY_DIAGNOSIS        30
2020-08-04  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_7        30
2020-08-04  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        TEST_TYPE_1        30
2020-08-03  a0db1e73-1c7c-11ec-ae39-16262ee38c7f     SYMPTOM_TYPE_0        31
2020-08-03  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  PRIMARY_DIAGNOSIS        31
2020-08-03  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  PRIMARY_DIAGNOSIS        31
2020-08-03  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        TEST_TYPE_0        31
2020-08-02  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_0        32
2020-07-21  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_0        44
2020-07-20  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        TEST_TYPE_0        45
2020-07-20  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_0        45
2020-07-20  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  PRIMARY_DIAGNOSIS        45
2020-07-20  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_6        45

In [ ]:
df_news.to_csv("df_news.csv")

In [ ]:
df_last0=pd.DataFrame()
start = timeit.default_timer()

for nameofid in tqdm(class0):
    try:
        jk=df_lastclass0[df_lastclass0["Patient-Uid"]==nameofid]

        s=jk["Incident"].value_counts()

        l=pd.DataFrame(s).T.reset_index()

        valofdrug1=jk[:1:]["lastdrug"][0]
        val=jk[~jk["Incident"].duplicated()]

        for i in l.columns[1:]:
            l["{}_time_last".format(i)]=[((val[val["Incident"]==i]["lastdrug"])-valofdrug1)[0]]

        l["classx"]=0
        l["id"]=nameofid
        df_last0= pd.concat([df_last0, l], ignore_index=True)
    except:
        l=pd.DataFrame({"id":[nameofid]})
        l["id"]=nameofid
        df_last0 = pd.concat([df_last0, l], ignore_index=True)



end = timeit.default_timer()
print('Execution Time: ', end - start)

  0%|          | 0/17659 [00:00<?, ?it/s]

Execution Time:  233.44748490001075

In [ ]:
df_lastclass0

                                     Patient-Uid           Incident  lastdrug
Date
2020-08-09  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        25
2020-08-07  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        27
2020-08-05  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        29
2020-08-05  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_7        29
2020-08-04  a0db1e73-1c7c-11ec-ae39-16262ee38c7f        DRUG_TYPE_2        30
...                                          ...                ...       ...
2018-07-11  a0e9c325-1c7c-11ec-8885-16262ee38c7f  PRIMARY_DIAGNOSIS       785
2018-06-15  a0e9c325-1c7c-11ec-8885-16262ee38c7f        DRUG_TYPE_0       811
2018-06-14  a0e9c325-1c7c-11ec-8885-16262ee38c7f        DRUG_TYPE_0       812
2020-08-27  a0e9c354-1c7c-11ec-84f5-16262ee38c7f        DRUG_TYPE_1         7
2020-08-06  a0e9c354-1c7c-11ec-84f5-16262ee38c7f        DRUG_TYPE_1        28

[51370 rows x 3 columns]

In [ ]:
df_last0

,index,DRUG_TYPE_2,PRIMARY_DIAGNOSIS,DRUG_TYPE_0,DRUG_TYPE_7,TEST_TYPE_0,TEST_TYPE_1,SYMPTOM_TYPE_0,DRUG_TYPE_6,DRUG_TYPE_2_time_last,...,SYMPTOM_TYPE_22,SYMPTOM_TYPE_22_time_last,SYMPTOM_TYPE_21,SYMPTOM_TYPE_21_time_last,SYMPTOM_TYPE_23,SYMPTOM_TYPE_23_time_last,SYMPTOM_TYPE_19,SYMPTOM_TYPE_19_time_last,SYMPTOM_TYPE_27,SYMPTOM_TYPE_27_time_last
0,Incident,4.0,4.0,3.0,2.0,2.0,1.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Incident,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Incident,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Incident,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Incident,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17654,Incident,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17655,Incident,NaN,1.0,1.0,NaN,1.0,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17656,Incident,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17657,Incident,NaN,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17658,Incident,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_last0.to_csv("df_last0.csv")

In [ ]:
df_new=pd.read_csv("df_news.csv")

In [ ]:
df_new=df_new.drop(["Unnamed: 0"],axis=1)

In [ ]:
dfs=pd.concat([df_new,df_last0],ignore_index=True)

NameError: name 'df_last0' is not defined

In [ ]:
dfs

In [ ]:
dfs.to_csv("last_csv.csv",index_label=False)

In [ ]:
dfs=pd.read_csv("last_csv.csv")

In [ ]:
dfs=dfs.drop(["index"],axis=1)

In [ ]:
dfs

,DRUG_TYPE_6,DRUG_TYPE_1,PRIMARY_DIAGNOSIS,DRUG_TYPE_6_time_last,DRUG_TYPE_1_time_last,PRIMARY_DIAGNOSIS_time_last,classx,id,DRUG_TYPE_7,TEST_TYPE_1,...,SYMPTOM_TYPE_24,SYMPTOM_TYPE_24_time_last,SYMPTOM_TYPE_25,SYMPTOM_TYPE_25_time_last,SYMPTOM_TYPE_21,SYMPTOM_TYPE_21_time_last,SYMPTOM_TYPE_23,SYMPTOM_TYPE_23_time_last,SYMPTOM_TYPE_27,SYMPTOM_TYPE_27_time_last
0,1.0,1.0,1.0,0.0,8.0,8.0,1.0,a0eb742b-1c7c-11ec-8f61-16262ee38c7f,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1.0,NaN,17.0,3.0,NaN,1.0,a0edaf09-1c7c-11ec-a360-16262ee38c7f,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,1.0,a0e9fa0e-1c7c-11ec-8dc7-16262ee38c7f,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,1.0,a0ecc615-1c7c-11ec-aa31-16262ee38c7f,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,1.0,a0ea612f-1c7c-11ec-8cf0-16262ee38c7f,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27028,NaN,1.0,NaN,NaN,21.0,NaN,0.0,a0e9c298-1c7c-11ec-954b-16262ee38c7f,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27029,3.0,NaN,1.0,0.0,NaN,22.0,0.0,a0e9c2c7-1c7c-11ec-9b2e-16262ee38c7f,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27030,2.0,NaN,NaN,28.0,NaN,NaN,0.0,a0e9c2f7-1c7c-11ec-8bac-16262ee38c7f,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27031,NaN,NaN,1.0,NaN,NaN,0.0,0.0,a0e9c325-1c7c-11ec-8885-16262ee38c7f,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27032,NaN,2.0,NaN,NaN,0.0,NaN,0.0,a0e9c354-1c7c-11ec-84f5-16262ee38c7f,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
nan_replace_value={}
for i in df.Incident.unique()[:-1]:
    nan_replace_value[i]=0

In [ ]:
df6=dfs.fillna(nan_replace_value)

In [ ]:
df6.isnull().sum()

DRUG_TYPE_6                      0
DRUG_TYPE_1                      0
PRIMARY_DIAGNOSIS                0
DRUG_TYPE_6_time_last        16948
DRUG_TYPE_1_time_last        18070
                             ...
SYMPTOM_TYPE_21_time_last    27022
SYMPTOM_TYPE_23                  0
SYMPTOM_TYPE_23_time_last    27032
SYMPTOM_TYPE_27                  0
SYMPTOM_TYPE_27_time_last    27032
Length: 110, dtype: int64

In [ ]:
dfv=pd.DataFrame(df6.isnull().sum())

In [ ]:
valindex=dfv[df6.isnull().sum()<10000].index

In [ ]:
df7=df6[valindex]

In [ ]:
df8=df7.dropna()

In [ ]:
df8.isnull().sum()

DRUG_TYPE_6          0
DRUG_TYPE_1          0
PRIMARY_DIAGNOSIS    0
classx               0
id                   0
DRUG_TYPE_7          0
TEST_TYPE_1          0
DRUG_TYPE_9          0
TEST_TYPE_3          0
DRUG_TYPE_3          0
TEST_TYPE_2          0
DRUG_TYPE_5          0
DRUG_TYPE_2          0
DRUG_TYPE_15         0
DRUG_TYPE_8          0
DRUG_TYPE_10         0
DRUG_TYPE_11         0
SYMPTOM_TYPE_6       0
DRUG_TYPE_0          0
DRUG_TYPE_14         0
SYMPTOM_TYPE_11      0
SYMPTOM_TYPE_0       0
TEST_TYPE_0          0
SYMPTOM_TYPE_16      0
SYMPTOM_TYPE_8       0
DRUG_TYPE_13         0
SYMPTOM_TYPE_5       0
SYMPTOM_TYPE_2       0
DRUG_TYPE_12         0
SYMPTOM_TYPE_1       0
SYMPTOM_TYPE_17      0
SYMPTOM_TYPE_7       0
SYMPTOM_TYPE_4       0
SYMPTOM_TYPE_13      0
SYMPTOM_TYPE_9       0
SYMPTOM_TYPE_29      0
SYMPTOM_TYPE_12      0
SYMPTOM_TYPE_15      0
SYMPTOM_TYPE_14      0
SYMPTOM_TYPE_10      0
SYMPTOM_TYPE_3       0
TEST_TYPE_4          0
DRUG_TYPE_4          0
TEST_TYPE_5          0
SYMPTOM_TYPE_20      0
SYMPTOM_TYPE_18      0
DRUG_TYPE_16         0
SYMPTOM_TYPE_19      0
SYMPTOM_TYPE_22      0
DRUG_TYPE_17         0
SYMPTOM_TYPE_26      0
SYMPTOM_TYPE_24      0
SYMPTOM_TYPE_25      0
SYMPTOM_TYPE_21      0
SYMPTOM_TYPE_23      0
SYMPTOM_TYPE_27      0
dtype: int64

In [ ]:
df8.classx.value_counts()

0.0    17659
1.0     7840
Name: classx, dtype: int64

In [ ]:
import seaborn as sns

In [ ]:
df8.columns

Index(['DRUG_TYPE_6', 'DRUG_TYPE_1', 'PRIMARY_DIAGNOSIS', 'classx', 'id',
       'DRUG_TYPE_7', 'TEST_TYPE_1', 'DRUG_TYPE_9', 'TEST_TYPE_3',
       'DRUG_TYPE_3', 'TEST_TYPE_2', 'DRUG_TYPE_5', 'DRUG_TYPE_2',
       'DRUG_TYPE_15', 'DRUG_TYPE_8', 'DRUG_TYPE_10', 'DRUG_TYPE_11',
       'SYMPTOM_TYPE_6', 'DRUG_TYPE_0', 'DRUG_TYPE_14', 'SYMPTOM_TYPE_11',
       'SYMPTOM_TYPE_0', 'TEST_TYPE_0', 'SYMPTOM_TYPE_16', 'SYMPTOM_TYPE_8',
       'DRUG_TYPE_13', 'SYMPTOM_TYPE_5', 'SYMPTOM_TYPE_2', 'DRUG_TYPE_12',
       'SYMPTOM_TYPE_1', 'SYMPTOM_TYPE_17', 'SYMPTOM_TYPE_7', 'SYMPTOM_TYPE_4',
       'SYMPTOM_TYPE_13', 'SYMPTOM_TYPE_9', 'SYMPTOM_TYPE_29',
       'SYMPTOM_TYPE_12', 'SYMPTOM_TYPE_15', 'SYMPTOM_TYPE_14',
       'SYMPTOM_TYPE_10', 'SYMPTOM_TYPE_3', 'TEST_TYPE_4', 'DRUG_TYPE_4',
       'TEST_TYPE_5', 'SYMPTOM_TYPE_20', 'SYMPTOM_TYPE_18', 'DRUG_TYPE_16',
       'SYMPTOM_TYPE_19', 'SYMPTOM_TYPE_22', 'DRUG_TYPE_17', 'SYMPTOM_TYPE_26',
       'SYMPTOM_TYPE_24', 'SYMPTOM_TYPE_25', 'SYMPTOM_TYPE_21',
       'SYMPTOM_TYPE_23', 'SYMPTOM_TYPE_27'],
      dtype='object')

In [ ]:
X=df8.drop(['classx', 'id'],axis=1)

In [ ]:
y=df8.classx

In [ ]:
!pip install imblearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imblearn in /usr/local/lib/python3.8/dist-packages (0.0)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.8/dist-packages (from imblearn) (0.8.1)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn->imblearn) (1.21.6)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: scikit-learn>=0.24 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (3.1.0)

In [ ]:
important_indices=[10,  2,  7, 16,  0,  1,  3, 12,  5,  4]

In [ ]:
X = X.iloc[:, important_indices]

In [ ]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(sampling_strategy='minority')
X_smt, y_smt = smote.fit_resample(X, y)

In [ ]:
y_smt.value_counts()

1.0    17659
0.0    17659
Name: classx, dtype: int64

In [ ]:
y.value_counts()

0.0    17659
1.0     7840
Name: classx, dtype: int64

In [ ]:
X

,DRUG_TYPE_2,PRIMARY_DIAGNOSIS,DRUG_TYPE_3,DRUG_TYPE_0,DRUG_TYPE_6,DRUG_TYPE_1,DRUG_TYPE_7,DRUG_TYPE_8,DRUG_TYPE_9,TEST_TYPE_1
0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,1.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
27028,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
27029,0.0,1.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0
27030,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
27031,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
27032,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X_smt, y_smt, test_size=0.2)

In [ ]:
from sklearn.preprocessing import StandardScaler

# Create an instance of the StandardScaler
scaler = StandardScaler()

# Fit the scaler to your data
X_train=scaler.fit_transform(X_train)

In [ ]:
X_test=scaler.transform(X_test)

In [ ]:
y_test.value_counts()

1.0    3533
0.0    3531
Name: classx, dtype: int64

In [ ]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
import numpy as np

In [ ]:
model=DecisionTreeClassifier()

In [ ]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [ ]:
model.score(X_test,y_test)

0.7076727066817667

In [ ]:
importances = model.feature_importances_

In [ ]:
len(importances)

54

In [ ]:
model.score(X_test,y_test)

0.7071064552661381

In [ ]:
importances*100

array([27.06211054, 15.71769258, 10.58083538,  9.06083799,  9.10885194,
        8.85474087,  6.26226754,  5.43954845,  4.1619726 ,  3.75114212])

In [ ]:
model.feature_importances_

array([0.27062111, 0.15717693, 0.10580835, 0.09060838, 0.09108852,
       0.08854741, 0.06262268, 0.05439548, 0.04161973, 0.03751142])

In [ ]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
import numpy as np


model_params = {
    'svm': {
        'model': svm.SVC(gamma='auto'),
        'params' : {
            'C': [0.1, 1, 10],
            'kernel': ['rbf','linear']
        }
    },
    'decision_tree': {
        'model': DecisionTreeClassifier(),
        'params' : {
            'max_depth': [3, 5, 7, None],
            'min_samples_split': [2, 5, 10]
        }
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [10, 50, 100, 200],
            'max_depth': [3, 5, 7, None],
            'min_samples_split': [2, 5, 10]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': np.logspace(-3, 3, 7),
            'penalty': ['l1', 'l2']
        }
    }
}

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
scores = []

for model_name, mp in tqdm(model_params.items()):
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(X_train, y_train)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })

dfval = pd.DataFrame(scores,columns=['model','best_score','best_params'])
dfval

  0%|          | 0/4 [00:00<?, ?it/s]

In [ ]:
import tensorflow as tf

# Define the model
model = tf.keras.Sequential()
model.add(tf.keras.layers.Dense(32, input_dim=10, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
model.fit(X_train, y_train, epochs=10)

Epoch 1/10
883/883 [==============================] - 3s 3ms/step - loss: 0.6220 - accuracy: 0.6736
Epoch 2/10
883/883 [==============================] - 2s 3ms/step - loss: 0.6035 - accuracy: 0.6904
Epoch 3/10
883/883 [==============================] - 2s 3ms/step - loss: 0.5964 - accuracy: 0.6944
Epoch 4/10
883/883 [==============================] - 2s 3ms/step - loss: 0.5920 - accuracy: 0.6965
Epoch 5/10
883/883 [==============================] - 2s 3ms/step - loss: 0.5899 - accuracy: 0.6986
Epoch 6/10
883/883 [==============================] - 2s 3ms/step - loss: 0.5877 - accuracy: 0.6994
Epoch 7/10
883/883 [==============================] - 2s 3ms/step - loss: 0.5861 - accuracy: 0.6998
Epoch 8/10
883/883 [==============================] - 2s 3ms/step - loss: 0.5854 - accuracy: 0.7007
Epoch 9/10
883/883 [==============================] - 2s 3ms/step - loss: 0.5845 - accuracy: 0.7016
Epoch 10/10
883/883 [==============================] - 2s 3ms/step - loss: 0.5839 - accuracy: 0.7010

In [ ]:
model = tf.keras.Sequential()
model.add(tf.keras.layers.Dense(32, input_dim=54, activation='relu'))
model.add(tf.keras.layers.Dense(64, activation='relu'))
model.add(tf.keras.layers.Dense(128, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
model.fit(X_train, y_train, epochs=50)

Epoch 1/50
883/883 [==============================] - 3s 3ms/step - loss: 0.6098 - accuracy: 0.6810
Epoch 2/50
883/883 [==============================] - 3s 3ms/step - loss: 0.5838 - accuracy: 0.6990
Epoch 3/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5747 - accuracy: 0.7065
Epoch 4/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5691 - accuracy: 0.7088
Epoch 5/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5653 - accuracy: 0.7138
Epoch 6/50
883/883 [==============================] - 3s 3ms/step - loss: 0.5611 - accuracy: 0.7171
Epoch 7/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5581 - accuracy: 0.7183
Epoch 8/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5555 - accuracy: 0.7173
Epoch 9/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5523 - accuracy: 0.7227
Epoch 10/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5494 - accuracy: 0.7233
Epoch 11/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7244
Epoch 12/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7257
Epoch 13/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7273
Epoch 14/50
883/883 [==============================] - 3s 3ms/step - loss: 0.5381 - accuracy: 0.7295
Epoch 15/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7302
Epoch 16/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7316
Epoch 17/50
883/883 [==============================] - 3s 3ms/step - loss: 0.5308 - accuracy: 0.7335
Epoch 18/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5297 - accuracy: 0.7365
Epoch 19/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5261 - accuracy: 0.7356
Epoch 20/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5247 - accuracy: 0.7377
Epoch 21/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5226 - accuracy: 0.7394
Epoch 22/50
883/883 [==============================] - 3s 3ms/step - loss: 0.5205 - accuracy: 0.7390
Epoch 23/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5183 - accuracy: 0.7409
Epoch 24/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5164 - accuracy: 0.7415
Epoch 25/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5140 - accuracy: 0.7421
Epoch 26/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5120 - accuracy: 0.7447
Epoch 27/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5105 - accuracy: 0.7450
Epoch 28/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5088 - accuracy: 0.7477
Epoch 29/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5077 - accuracy: 0.7468
Epoch 30/50
883/883 [==============================] - 3s 3ms/step - loss: 0.5065 - accuracy: 0.7472
Epoch 31/50
883/883 [==============================] - 3s 3ms/step - loss: 0.5032 - accuracy: 0.7487
Epoch 32/50
883/883 [==============================] - 2s 3ms/step - loss: 0.5029 - accuracy: 0.7491
Epoch 33/50
883/883 [==============================] - 2s 3ms/step - loss: 0.4994 - accuracy: 0.7504
Epoch 34/50
883/883 [==============================] - 2s 3ms/step - loss: 0.4989 - accuracy: 0.7531
Epoch 35/50
883/883 [==============================] - 2s 3ms/step - loss: 0.4973 - accuracy: 0.7520
Epoch 36/50
883/883 [==============================] - 2s 3ms/step - loss: 0.4940 - accuracy: 0.7533
Epoch 37/50
883/883 [==============================] - 2s 3ms/step - loss: 0.4962 - accuracy: 0.7540
Epoch 38/50
883/883 [==============================] - 2s 3ms/step - loss: 0.4928 - accuracy: 0.7545
Epoch 39/50
883/883 [==============================] - 3s 3ms/step - loss: 0.4919 - accuracy: 0.7545
Epoch 40/50
883/883 [==============================] - 3s 3ms/step - loss: 0.4891 - accuracy: 0.7566
Epoch 41/50
883/883 [==============================] - 3s 3ms/step - loss: 0.4882 - accuracy: 0.7575
Epoch 42/50
883/883 [==============================] - 2s 3ms/step - loss: 0.4877 - accuracy: 0.7567
Epoch 43/50
883/883 [==============================] - 2s 3ms/step - loss: 0.4859 - accuracy: 0.7581
Epoch 44/50
883/883 [==============================] - 3s 3ms/step - loss: 0.4845 - accuracy: 0.7585
Epoch 45/50
883/883 [==============================] - 3s 3ms/step - loss: 0.4827 - accuracy: 0.7602
Epoch 46/50
883/883 [==============================] - 2s 3ms/step - loss: 0.4819 - accuracy: 0.7604
Epoch 47/50
883/883 [==============================] - 3s 3ms/step - loss: 0.4826 - accuracy: 0.7588
Epoch 48/50
883/883 [==============================] - 2s 3ms/step - loss: 0.4777 - accuracy: 0.7621
Epoch 49/50
883/883 [==============================] - 2s 3ms/step - loss: 0.4789 - accuracy: 0.7605
Epoch 50/50
883/883 [==============================] - 2s 3ms/step - loss: 0.4764 - accuracy: 0.7635

In [ ]:
 model.evaluate(X_test, y_test)

221/221 [==============================] - 0s 2ms/step - loss: 0.6056 - accuracy: 0.7286

[0.6056495904922485, 0.7286239862442017]

In [ ]:
from sklearn.metrics import f1_score

# Get the predictions of the model on the test data
y_pred = model.predict(X_test)

# Convert the predictions to class labels


# Calculate the F1 score
f1 = f1_score(y_test, y_pred, average='weighted')
print("F1 score: ", f1)

F1 score:  0.7052988920381745